html, body {
    -webkit-text-size-adjust: none !important;

    font-family: unset !important;
    font-size: 16px !important;
    line-height: 1.62;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: allow;

    margin: 0rem;
    padding: 0rem;
}

.account {
    color: #2aa3ef;
}

.caption {
    font-size: 0.6rem; 
}

.price-content {
    display: flex;
}

.price-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
    border-radius: 8px;
    margin: 20px 20px;
    padding: 0px 0px 20px 0px;
}

.price-left {
    background-color: #07c160;
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}

.price-right {
    background-color: #1678ff;
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}

.price-text {
    color: #fff;
    opacity: 0.75;
}

.price {
    font-size: 1.4rem; 
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 0.95;
}

.price-symbol {
    font-size: 1.6rem; 
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 0.95;
}

.price-card-subtitle {
    font-size: 1.0rem; 
    padding: 0px 40px;
    color: #444;
}

.price-card-caption {
    font-size: 0.8rem; 
    font-weight: bold;
    padding: 0 50px;
    color: #444;
}

.membership-description {
    margin: 40px 20px;
}

.membership-card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
    border-radius: 8px;
    padding: 30px 30px;
    margin: 20px 20px;
}

.os {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding-right: 4px;
    font-size: 0.8rem; 
    font-weight: bold;
}

.os img {
    padding: 0px 4px;
}
