html, body {
    -webkit-text-size-adjust: none !important;

    font-family: unset !important;
    font-size: 14px !important;
    line-height: 1.62;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: allow;

    margin: 0rem;
    padding: 0rem;
}

.membership-description {
    margin: 40px 20px;
}

.membership-card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
    border-radius: 4px;
    padding: 30px 20px 10px 20px;
    margin: 20px 20px;
}

.membership-system {
    background-color: #fff;
    border-radius: 4px;
    padding-right: 4px;
}

.membership-system img {
    padding: 0px 4px;
}
