button {
    margin: 0px 4px 0px 4px;
    padding: 12px 16px 12px 16px;
    border: solid 1px #2792fb;
    border-radius: 4px;
    background: #000;
    font-size: 1.4em;
    color: #fff;
    cursor: pointer;
    width: 177.2px;
    height: 51.2px;
}

button: hover {
    color: #fff;
    background: #2792fb;
}

.container {
    padding: 0px 30px;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-image: url("images/clouds.png");
    background: linear-gradient(#fff, #fff);
}

.left {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;

}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle
    font-weight: bold;
    font-size: 1.2em;
}

.download {
    display: block;
    margin: 0px 20px;
}

.download p {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 0.6em;
    color: 454545;
}

.footer {
    background-color: #f0f2f4;
    padding: 30px;
    text-align: center;
    color: #999;
}

.footer p {
     margin: 1em 0em;
}

.logo {
    display: block;
    vertical-align: middle;
    background: #f2f4f6;
    margin-right: 12px;
    border-radius: 3em;
    -moz-border-radius: 3em;
    width: 3em;
    height: 3em;
}

.line {
    display:inline;
    align-items: center;
}

.market {
    font-size: large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

.faq-image {
    max-width:100% !important; height:auto !important;
}

.card {
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    min-width: 200px;
    box-shadow: #ccc 0px 0px 10px;
    margin: 10px;
}

.card-title {
    font-size: 1.1em; 
    font-weight: bold;
    color: #111;
    padding: 0px 0px 0px 0px;
}

.card-text {
    display: block;
    color: #454545;
    margin: 16px 0px 0px 0px;
    padding: 0px;
}

.card: hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.card: active {
    background-color: #f7f7f7;
    background-size: 100%;
    transition: background 0s;
}

.extension {
    margin: 0px 4px;
    padding: 2px 8px;
    background: #fff;
    border: solid 1px #efefef;
    border-radius: 8px;
}

.item {
    display: block;
    text-align: left;
    margin: 0px 0px;
}

.item-table {
    font-size: inherit;
    border: 0px solid #f0f2f4;
}

.item-td-first {
    text-align: left;
    vertical-align: top;
    border: 0px solid #f0f2f4;
    width: 6em;
    padding: 0px;
}

.item-td-second {
    text-align: right;
    vertical-align: top;
    border: 0px solid #f0f2f4;
    padding: 0px;
}

.item-icon {
    background-color: #f0f2f4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 2em;
    height: 2em;
    padding: 12px;
    margin: 0px 0px;
}

.item h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.item p {
    margin: 4px 0px;
    color: #909090;
}

.item ul {
    font-size: inherit;
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
    margin: 20px 0px 40px 0px;
}

.item li {
    font-size: inherit;
    color: #454545;
    background: url("images/check.svg") left center no-repeat;
    background-size: 1em;
    padding: 2px 2em;
}

.faq {
    display: inline-flex;
    margin: 30px auto; 
    width: 90%;
}

.version {
    font-size: inherit;
    width: 90%;
    margin: 30px auto;
}

.version-first-column {
    font-size: inherit;
    text-align: left; 
    color: #454545;
}

.version-compare-column {
    font-size: inherit;
    width: 15%;
    text-align: center; 
}

.image-container {
  display: inline-flex;
  overflow-x: auto;
  width: 80%
  padding: 20px;
  justify-content: center;
}

.image-container img {
    box-shadow: #ccc 0px 0px 10px;
    margin: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px;
}
