button {
    padding: 10px 20px;
    border: solid 1px #2792fb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: linear-gradient(#2792fb, #2f8ef0);
    color: #fff;
    cursor: pointer;

    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

button: hover {
    color: #fff;
    background: #2792fb;
}

.container {
    padding: 0px 30px;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-image: url("images/clouds.png");
    background: linear-gradient(#fff, #fff);
}

.left {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle
    font-weight: bold;
    font-size: 1.2rem;
}

.download {
    display: block;
    margin: 0px 20px;
}

.download p {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 0.6rem;
    color: 454545;
}

.footer {
    background-color: #f0f2f4;
    padding: 30px;
    text-align: center;
    color: #999;
}

.footer p {
     margin: 1rem 0rem;
}

.logo {
    display: block;
    vertical-align: middle;
    background: #f2f4f6;
    margin-right: 12px;
    border-radius: 3rem;
    -moz-border-radius: 3rem;
    width: 3rem;
    height: 3rem;
}

.line {
    display:inline;
    align-items: center;
}

.market {
    font-size: large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

.faq-image {
    max-width:100% !important; height:auto !important;
}

.card {
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    box-shadow: #ccc 0px 0px 20px;
    margin: 20px;
}

.card-title {
    font-size: 1.2rem; 
    color: #111;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
}

.card-text {
    display: block;
    color: #454545;
    margin: 16px 0px 0px 0px;
    padding: 0px;
}

.card-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    margin-top: 10px;
    font-size: 1.0rem; 
}

.card: hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.card: active {
    background-color: #f7f7f7;
    background-size: 100%;
    transition: background 0s;
}

.card span {
    display: flex;
    text-align: right;
    vertical-align: center;
}

.faq img {
    margin-right: 10px;
}

.extension {
    margin: 0px 4px;
    padding: 2px 8px;
    background: #fff;
    border: solid 1px #efefef;
    border-radius: 8px;
}

.item {
    display: block;
    text-align: left;
    margin: 0px 0px;
}

.item-table {
    font-size: inherit;
    border: 0px solid #f0f2f4;
}

.item-td-first {
    text-align: left;
    vertical-align: top;
    border: 0px solid #f0f2f4;
    width: 6rem;
    padding: 0px;
}

.item-td-second {
    text-align: right;
    vertical-align: top;
    border: 0px solid #f0f2f4;
    padding: 0px;


    word-wrap: break-word;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.item-icon {
    background-color: #f0f2f4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 2rem;
    height: 2rem;
    padding: 12px;
    margin: 0px 0px;
}

.item h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.item p {
    margin: 4px 0px;
    color: #909090;
}

.item ul {
    font-size: 1rem;
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
    margin: 20px 0px;
    font-size: 1rem;
}

.item li {
    font-size: 1rem;
    color: #454545;
    background: url("images/check.svg") left center no-repeat;
    background-size: 1rem;
    padding: 2px 2rem;
}

.faq {
    display: flex;
    margin: 20px auto; 
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

.version {
    font-size: 1rem;
    width: 90%;
    margin: 30px auto;
}

.version-first-column {
    font-size: 1rem;
    text-align: left; 
    color: #454545;
}

.version-compare-column {
    font-size: 1rem;
    width: 15%;
    text-align: center; 
}

.image-container {
  display: flex;
  width: 90%;
  padding: 20px;
  justify-content: center;
  overflow:auto;
}

.image-container img {
    box-shadow: #ccc 0px 0px 20px;
    margin: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    width: 216px;
    height: 456px;
 }

 .flex-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
 }

 .flex-description img {
    box-shadow: #ccc 0px 0px 20px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    width: 216px;
    height: 456px;
    margin: 0px 30px;
 }

 .flex-description span {
    margin: 0px 30px;
 }

 .flex-description p {
    margin: 0px;
 }

 .flex-description button {
    margin: 20px 0px;
 }

