html {
    background: #f4f6f8;
    color: #111;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
}

p {
    font-size: 1rem;
    color: #444;
}

hr {
    border: 1px solid #f4f6f8;
    margin: 0px 0px;
}

table {
    border: 2px solid #f4f6f8;
    border-collapse:collapse
    color: #111;
}

table th {
    padding: 20px;
}

table td {
    border: 2px solid #f4f6f8;
    padding: 16px;
}

button {
    border: solid 1px #0061d5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: linear-gradient(#0061d5, #0061d5);
    color: #fff;
    cursor: pointer;
    font-size: .8rem;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px 20px;
}

button:hover {
    color: #fff;
    background: linear-gradient(#1a7dfb, #1a7dfb);
    border: solid 1px #1a7dfb;
}

.container {
    padding: 0px 0px;
    text-align: center;
}

.content {
    padding: 30px;
    text-align: left;
    background-color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-image: url("images/clouds.png");
    background: linear-gradient(#fff, #fff);
    color: 111;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: 111;
}

.logo span {
    margin: 0px;
    padding: 0px;
    color: #444;
}

.logo img {
    display: block;
    vertical-align: middle;
    align-items: center;
    background: #f4f6f8;
    margin-right: 20px;
    border-radius: 3rem;
    -moz-border-radius: 3rem;
    width: 4rem;
    height: 4rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.0rem;
}

.download {
    display: block;
    margin: 0px 20px;
    font-size: 1.2rem;
}

.footer {
    background-color: #f4f6f8;
    padding: 40px;
    text-align: center;
    color: #999;
}

.footer div {
    margin: 10px;
}

.footer p {
    margin: 8px;
    font-weight: bold;
}

.version {
    font-size: 1rem;
    margin: 30px auto;
}

.version-first-column {
    font-size: 1rem;
    text-align: left; 
    color: #444;
}

.version-compare-column {
    font-size: 1rem;
    width: 15%;
    text-align: center; 
}

.gallery {
    justify-content: center;

    width: inherit;
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin-top: 40px;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery img {
    display: inline-block;
    border: solid 2px #f0f2f4;
    box-shadow: #eee 0px 0px 8px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    max-width: 216px;
    max-height: 456px;
    width: 216px;
    height: 456px;
    margin: 8px;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.gallery img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center; center;
}

.gallery-small {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    z-index: 1;
}

.gallery-large {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 0;
}

.feature-item {
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px;
}

.feature-item-icon {
    background-color: #f0f2f4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    min-width: 2rem;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 12px;
    margin-right: 2rem;
}

.feature-item h3 {
    margin: 0px;
    padding: 0px;
}

.feature-item p {
    margin: 8px 0px;
    color: #666;
}

.flex-light {
    background-color: #fff;
    padding: 60px 30px;
}

.flex-light p {
    font-size: 1.0rem;
    color: #666;
}

.flex-dark {
    background-color: #f4f6f8;
    padding: 60px 30px;
}

.flex-dark p {
    font-size: 1.0rem;
    color: #666;
}

.flex-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding: 80px 30px;
    background-color: #fff;
}

.flex-description img {
    border: solid 2px #f0f2f4;
    box-shadow: #eee 0px 0px 8px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    max-width: 216px;
    max-height: 456px;
    width: 216px;
    height: 456px;
    margin: 0px 30px;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.flex-description img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.flex-description span {
    margin: 0px 30px;
}

.flex-description p {
    margin: 0px;
    color: #666;
}

.flex-description button {
    margin: 20px 0px;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.more img {
    margin-right: 10px;
}








.purchase {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
}

.purchase-qr {
    display: block;
}

.purchase-qr img {
    border: solid 2px #f0f2f4;
    box-shadow: #eee 0px 0px 8px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    margin-left: 50px;
    min-width: 240px;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.purchase-qr img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 20px;
}

.price-list p {
    margin: 0px;
    color: #999;
}

.price-separator {
    margin: 10px;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
}

.price {
    margin: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #111;
}
