html {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
	background: #f4f6f8;
	color: #111;
	font-size: 2vmin;
    line-height: 1.618;
}

body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	color: #111;
}

p {
	font-size: 1rem;
	color: #444;
}

hr {
	border: 1px solid #e7e8e9;
	margin: 0px 0px;
}

.container {
	padding: 0px;
	margin: 0px;
}

.content {
	padding: 30px;
	margin: 0px;
	background: #fff;
}

.footer {
	background-color: #f4f6f8;
	padding: 40px;
	text-align: center;
	color: #999;
}

.card {
	margin: 16px 16px;
	padding: 16px;
	background: #fff;
	border-radius: 8px;
	text-align: left;

	box-shadow: 0 0 0px #c0c0c0;
	outline: none;

	background-position: center;
	transition: background 0.8s;
}

.card-title {
	font-size: 1.1em; 
	font-weight: bold;
	color: #272727;
	padding: 0px 0px 0px 0px;
}

.card-text {
	display: block;
	color: #454545;
	margin: 16px 0px 0px 0px;
	padding: 0px;
}

.card:hover {
	background: #f4f6f8 radial-gradient(circle, transparent, #f4f6f8);
}

.card:active {
	background-color: #f7f7f7;
	background-size: 100%;
	transition: background 0s;
}
