	.faq-image {
		max-width:100% !important; height:auto !important;
	}

	.card {
		margin: 16px 16px;
		padding: 16px;
		background: #fff;
		border-radius: 8px;
		text-align: left;

		box-shadow: 0 0 0px #c0c0c0;
		outline: none;

		background-position: center;
		transition: background 0.8s;
	}

	.card-title {
		font-size: 1.1em; 
		font-weight: bold;
		color: #272727;
		padding: 0px 0px 0px 0px;
	}
	
	.card-text {
		display: block;
		color: #454545;
		margin: 16px 0px 0px 0px;
		padding: 0px;
	}

	.card: hover {
		background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
	}

	.card: active {
		background-color: #f7f7f7;
		background-size: 100%;
		transition: background 0s;
	}

	.extension {
		margin: 0px 4px;
		padding: 2px 8px;
		background: #fff;
		border: solid 1px #efefef;
		border-radius: 8px;
	}

	.item {
		display: flex;
		align-items:center;
		justify-content: left;
	}

	.item h1, h2, h3, h4, h5, h6 {
		margin: 8px 12px;
	}

