.container {
    display: block;
    border: none;
    padding: 8px 2px;
    width: 100%;
    height: 100%;
}

.action-bar {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.background span {
    font-size: 14px;
    color: #999999;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 12px;
}