    .container {
        border: none;
        padding: 8px 2px;
    }
    
    .action-bar {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 12px;
    }
    
    .search {
        flex-grow: 1;
        margin-left: 0px;
        margin-right: 12px;
    }
    
    .note-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
        overflow-y: auto;
    }
    
    .note-list li {
        margin: 0;
        padding: 0px;
    }
    
    .note-item {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #c7c7c7;
        border-radius: 4px;
        margin: 12px;
        padding: 12px;
        box-shadow: #c7c7c7 0px 0px 0px;
        background-color: #ffffff;
    }
    
    .note-item:hover {
        background-color: #f7f7f7;
    }
    
    .note-content {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: #333333;
        margin-left: 12px;
    }
    
    .note-attachments {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow: hidden;
    }
    
    .note-attachment {
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        margin-top: 8px;
        margin-left: 2px;
        margin-right: 2px;
        width: 100px;
        height: 60px;
        cursor: pointer;
    }
    
    .note-date {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: #999999;
    }